body, input {
    background-color: black;
    color:chartreuse;
    font-family: 'Roboto Mono', monospace;
    font-size:18px;
    padding: 0;
    margin: 0;
    border: 0;
}
.mainframe {
    padding: 15px;
}

.input-data {
    flex-grow:1;
    outline: none;
}

.one-string-form {
    display:flex;
    flex-direction: row;
    
}